# luckydonald-utils
luckydonald-utils==0.83

# DictObject
DictObject>=0.1.3

# flask
flask==1.1.2

# pytgbot
pytgbot==4.9.1

# teleflask
-e git://github.com/luckydonald/teleflask.git@cb541317bd9794178484590a83f236744209c16d#egg=teleflask_cb5413

# raven[flask]
raven[flask]

# emoji
emoji==0.5.4

# pymongo
pymongo

